.journey-section {
  height: calc(4 * 100vh); 
  position: relative;
  background: var(--brand-primary-one);
   background-image: 
    linear-gradient(var(--grid-line) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-line) 1px, transparent 1px);
  background-size: 25px 25px;
  background-position: center center;
}


.roll-up-view {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
}

.roll-up-view span {
  display: inline-block;
  will-change: transform;
}

.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden; 
}

.track-container {
  display: flex;
  height: 100vh;
  width: max-content;
}

.panel-frame {
  width: 100vw;
  height: 100vh;
  flex: 0 0 100vw;
  position: relative;
  display: flex;
  align-items: center;
}


.panel-content {
  max-width: 1240px;
  width: 90%;
  position: relative;
  z-index: 2;
  /* transform: translateY(0); */
  opacity: 1; 
  color: white;
}




/* LONDON STYLE */

.combine-container{
  max-width: 777px;
  max-height: 541px;
  display: flex;
  gap: 1.5rem;
}

.combine-container .right-container{
  align-self: flex-end;
  width: 325px;
  height: 472px;

}



.combine-container .left-container{
  width: 420px;
  height: 541px;
  position: relative;
}

.left-container img{
  position: absolute;
  object-fit: cover;

}

.right-container .right-image{
  width: 322px;
  height: 342px;
  position: relative;
  
}

.right-container .header-content h2{
  color: var(--text-primary-white);
  font-size: 40px;
  font-style: italic;
  padding-top: 2rem;
}


.right-image img{
  position: absolute;
  object-fit: contain;
}

.panel-content .top-right-image{
  position: absolute;
  height: 109px;
  right: 0;
  top: 0;
}



.panel-content .bottom-content{
  display: flex;
  justify-content: end;
  position: absolute;
  flex-direction: column;
  width: 434px;
  bottom: 0;
  right: 0;
}

.bottom-content p:first-child{
  color: var(--text-primary-white);
  font-weight: 600;
  font-size: 24px;
}

.bottom-content p:last-child{
  color: var(--lightest-gray);
  font-weight: 400;
  font-size: 15px;
}

.connect-line-bottom {
  position: absolute;
  top: 100px;
  right: 32%;
  width: 2px;
  height: 310px;
  background: var(--brand-secondary-one);
  z-index: -2;
}

/* small square at the edge */
.connect-line-bottom::after {
  content: "";
  position: absolute;
  bottom: -10px;            
  left: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.connect-line-right{
  position: absolute;
  width: 140px;
  height: 2px;
  background: var(--brand-secondary-one);
  top: 10%;
  right: -8%;
  z-index: -2;

}


.connect-line-right::after {
  content: "";
  position: absolute;
  bottom: -5px;            
  right: -13%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}




/* MEXICO STYLE */

.mexico-container{
  width: 100%;
  height: 100%;
  height: 541px;
  max-height: 541px;
  max-width: 10004px;
  height: 541px;
  position: relative;
  display: flex;
  justify-content: space-between;
}



.mexico-container .left-container{
  width: 50%;
  height: 100%;
}

.mexico-header{
  max-width: 369px;
  position: relative;
  top: 7%;
  left: -22%;
  color: var(--lightest-gray);
}

.mexico-header p:first-child{
  color: var(--text-primary-white);
  font-size: 25px;
  font-weight: 500;
}


.bottom-image-wrapper{
  width: 100%;
  height: 318px;
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 0;
}

.bottom-image-wrapper .left-bottom{
  height: 100%;
  width: 272px;
  position: relative;
  left: -11%;
}

.bottom-image-wrapper .left-bottom img{
   position: absolute;
  object-fit: cover; 
}

.bottom-image-wrapper .right-bottom{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  left: -10%;
  
}

.bottom-image-wrapper .bottomestImage{
  position: absolute;
  bottom: 0;
}


.mexico-connect-line-right{
  position: absolute;
  width: 440px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: -2%;
  top: 9.8%;
  z-index: -2;
  transform: rotate(180deg);
}


.mexico-connect-line-right::after {
  content: "";
  position: absolute;
  bottom: -5px;            
  right: -4%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.mexico-connect-line-right::before {
  content: "";
  position: absolute;
  bottom: -5px;            
  left: -2%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.mexico-connect-line-bottom {
  position: absolute;
  top: 58px;
  left: 34%;
  width: 1px;
  height: 385px;
  background: var(--brand-secondary-one);
  z-index: -2;
}

.mexico-connect-line-two-right{
  position: absolute;
  width: 440px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: 35%;
  bottom: 9.8%;
  z-index: -2;
  transform: rotate(180deg);

}

.mexico-connect-line-three-right{
  position: absolute;
  width: 540px;
  height: 1px;
  background: var(--brand-secondary-one);
  right: -28%;
  bottom: 10%;
  z-index: -2;
  transform: rotate(180deg);

}



/* EUROPE STYLE */
.europe-container{
  width: 1336px;
  display: flex;
  justify-content: space-between;
}

.europe-group-1{
  width:420px ;
  
}

.europe-group-1 p{
  font-weight: 500;
  font-size: 25px;
  color: var(--text-primary-white);
  text-align: end;
  margin-bottom:2.2rem ;
}

.europe-image-wrapper-one{
  height: 468px;
  width: 100%;
  position: relative;
}

.europe-group-2{
  width: 432px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.europe-group-2 p{
  text-align: justify;
}

.europe-connect-line-right{
  position: absolute;
  width: 440px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: -5%;
    bottom: 11%;
  z-index: -2;
  transform: rotate(180deg);

}

.europe-connect-line-bottom{
position: absolute;
  top: 4%;
  left: 14%;
  width: 1px;
  height: 85px;
  background: var(--brand-secondary-one);
  z-index: -2;
}

.europe-connect-line-bottom::before {
  content: "";
  position: absolute;
  top: -5px;            
  left: -2%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.europe-connect-line-two-right{
  position: absolute;
  width: 140px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: 14%;
    top: 4%;
  z-index: -2;
  transform: rotate(180deg);
}

.europe-connect-line-two-right::before {
  content: "";
  position: absolute;
  top: -5px;            
  left: -2%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.europe-connect-line-two-bottom{
  position: absolute;
  top: 18%;
  left: 650px;
  width: 1px;
  height: 185px;
  background: var(--brand-secondary-one);
  z-index: -2;
}

.europe-connect-line-two-bottom::before {
  content: "";
  position: absolute;
  top: -5px;            
  left: -2%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.europe-connect-line-three-right{
  position: absolute;
  width: 840px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: 14%;
  bottom: 11%;
  z-index: -2;
  transform: rotate(180deg);

}
.europe-connect-line-fourth-right{
  position: absolute;
  width: 840px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: 24%;
  bottom: 11%;
  z-index: -2;
  transform: rotate(180deg);

}


/* Dubai Style */
.dubai-container{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.dubai-group-content{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dubai-group-content .dubai-images-group{
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.dubai-images-group .dubai-combined-img{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  position: relative;
}


.dubai-images-group .left-image{
  width: 270px;
  height: 312px;
  position: relative;
}

.dubai-bottom-content p{
  color: var(--lightest-gray);
  font-size: 15px;
}
.dubai-bottom-content p:first-child{
  color: var(--text-primary-white);
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 0.2rem;
}

.dubai-connect-line-right{
  position: absolute;
  width: 140px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: -15%;
  bottom: 11%;
  z-index: -2;
  transform: rotate(180deg);
}

.dubai-connect-line-right::before {
  content: "";
  position: absolute;
  top: -5px;            
  left: -2%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

/* hidden for mobile */
@media (max-width:768px) {
  .journey-section {
 display: none;
}
  
}