@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "./base/reset.css";

/* @import './base//variables.css'; */
@import "./layout/navbar.css";
@import "./sections/hero.css";
@import "./sections/stages.css";
@import "./sections/process.css";
@import "./sections/challenges.css";

:root {
  --brand-primary-one: #003318;
  --brand-primary-two: #009c50;
  --brand-secondary-one: #f0c300;
  --brand-accent-primary: #f8769a;
  --brand-accent-secondary: #4cc9e9;

  /* Text colors */
  --gray-900: #090909;
  --lightest-gray: #ffffffca;
  --text-primary-white: #ffff;
  --text-primary: var(--gray-900);
  --text-secondary: var(--lightest-gray);
}




html,
body {
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
}



.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


.journey-section {
  background: var(--brand-primary-one);
  position: relative;
  overflow: hidden;
  /* height: 300vh; */
  /* height: auto;  */
}



/* .journey-scroll {
  height: calc(100vh * 3); 
} */



.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 300vw;
  overflow: hidden;
}

.track-container {
  display: flex;
  width: 300vw; /* panels * 100 */
  height: 100vh;
  will-change: transform;
}



/* Ensure panels are visible by default */
.panel-frame {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  opacity: 1; 
  visibility: visible;
}

.panel-content {
  max-width: 1240px;
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(0);
  opacity: 1; 
  color: white;

}

.combine-container{
  max-width: 777px;
  max-height: 541px;
  display: flex;
  gap: 1.5rem;
}

.combine-container .right-container{
  /* align-self: flex-end; */
  width: 325px;
  height: 472px;

}



.combine-container .left-container{
  width: 420px;
  height: 541px;
  position: relative;
}

.left-container img{
  position: absolute;
  object-fit: cover;

}

.right-container .right-image{
  width: 322px;
  height: 342px;
  position: relative;
  
}

.right-container .header-content h2{
  color: var(--text-primary-white);
  font-size: 40px;
  font-style: italic;
  padding-top: 2rem;
}

/* .right-container .header-content p{
  color: var(--lightest-gray);
  font-size: 25px;
  padding-bottom: 0.2rem;
} */
.right-image img{
  position: absolute;
  object-fit: contain;
}

.panel-content .top-right-image{
  position: absolute;
  height: 109px;
  right: 0;
  top: 0;
}



.panel-content .bottom-content{
  display: flex;
  justify-content: end;
  position: absolute;
  flex-direction: column;
  width: 434px;
  bottom: 0;
  right: 0;
}

.bottom-content p:first-child{
  color: var(--text-primary-white);
  font-weight: 600;
  font-size: 24px;
}

.bottom-content p:last-child{
  color: var(--lightest-gray);
  font-weight: 400;
  font-size: 15px;
}

.connect-line-bottom {
  position: absolute;
  top: 100px;
  right: 32%;
  width: 2px;
  height: 310px;
  background: var(--brand-secondary-one);
  z-index: -2;
}

/* small square at the edge */
.connect-line-bottom::after {
  content: "";
  position: absolute;
  bottom: -10px;            
  left: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.connect-line-right{
  position: absolute;
  width: 140px;
  height: 2px;
  background: var(--brand-secondary-one);
  top: 10%;
  right: -8%;
  z-index: -2;

}


.connect-line-right::after {
  content: "";
  position: absolute;
  bottom: -5px;            
  right: -13%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}


/* .maxico-journey-connector {
  display: flex;
  align-items: center;
  width: 100%;
  width: 500px;
  gap: 12px;
  margin-bottom: 2rem;
  position: absolute;
  top: 5%;
  left: 90%;
  z-index: -2;
}

.maxico-journey-connector .line {
  flex: 1;
  height: 2px;
  width: 100px;
  background: var(--brand-secondary-one);
}
.maxico-journey-connector .line:first-child {
  flex: 1;
  height: 2px;
  width: 10px;
  background: var(--brand-secondary-one);
  background: red;
}

.maxico-journey-connector .node {
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  background: transparent;
  flex-shrink: 0;
}

.maxico-journey-connector .label {
  color: var(--text-primary-white);
  font-weight: 600;
  font-size: 22px;
  white-space: nowrap;
} */


/* MEXICO STYLE */

.mexico-container{
  width: 100%;
  height: 100%;
  height: 541px;
  max-height: 541px;
  max-width: 10004px;
  height: 541px;
  position: relative;
  display: flex;
  justify-content: space-between;
}



.mexico-container .left-container{
  width: 50%;
  height: 100%;
}

.mexico-header{
  max-width: 369px;
  position: relative;
  top: 7%;
  left: -22%;
  color: var(--lightest-gray);
}

.mexico-header p:first-child{
  color: var(--text-primary-white);
  font-size: 25px;
  font-weight: 500;
}


.bottom-image-wrapper{
  width: 100%;
  height: 318px;
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 0;
}

.bottom-image-wrapper .left-bottom{
  height: 100%;
  width: 272px;
  position: relative;
  left: -11%;
}

.bottom-image-wrapper .left-bottom img{
   position: absolute;
  object-fit: cover; 
}

.bottom-image-wrapper .right-bottom{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  left: -10%;
  
}

.bottom-image-wrapper .bottomestImage{
  position: absolute;
  bottom: 0;
}


.mexico-connect-line-right{
  position: absolute;
  width: 440px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: -2%;
  top: 9.8%;
  z-index: -2;
  transform: rotate(180deg);
}


.mexico-connect-line-right::after {
  content: "";
  position: absolute;
  bottom: -5px;            
  right: -4%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.mexico-connect-line-right::before {
  content: "";
  position: absolute;
  bottom: -5px;            
  left: -2%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
}

.mexico-connect-line-bottom {
  position: absolute;
  top: 58px;
  left: 34%;
  width: 1px;
  height: 385px;
  background: var(--brand-secondary-one);
  z-index: -2;
}

.mexico-connect-line-two-right{
  position: absolute;
  width: 440px;
  height: 1px;
  background: var(--brand-secondary-one);
  left: 35%;
  bottom: 9.8%;
  z-index: -2;
  transform: rotate(180deg);

}

/* small square at the edge */
/* .mexico-connect-line-bottom::after {
  content: "";
  position: absolute;
  bottom: -10px;            
  left: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--brand-secondary-one);
  transform: translateX(-50%);
} */

